/* Ini File CSS*/
.logo{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    border-radius: 50%;
    margin-left: 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.navigation>navigation>a{
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px 25px;
    font-size: 13px;
}

.navigation>navigation>a:first-child{
    border-radius: 10px 0 0 10px
}
.navigation>navigation>a:last-child{
    border-radius: 0 10px 10px 0
}

.navigation>navigation{
    display: flex;
    margin-right: 10px;

}
.headerarticle{
    margin: 30px 70px;
}
.headerarticle>h1{
    margin: 0;
}
article>main>div{
    border: 1px solid black;
    height: 1000px;

    background-image: url(https://picsum.photos/2000);
    margin: 10px 10px;
    background-size:cover;
    background-position: center;

}
article>main{
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section1>header>h1{
    margin: 0;
}

.section1>header{
    margin: 30px 70px;
}
.section1>main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    margin: 0 100px;
    column-gap: 10px;
}
.section1>main>img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;

}